<ion-view view-title="{{title}}">
    <ion-content class="homepage-background has-footer">
        <ion-refresher pulling-text="Remove Checked" on-refresh="clearCompleted()"></ion-refresher>
        <ion-item collection-repeat="list in lists"
                  class="button home-list-item"
                  ng-class="list.completed ? 'strikethrough' : ''"
                  data="{{list.title}}"
                  on-swipe-left="list.completed = !list.completed;"
                  on-swipe-right="list.completed = !list.completed;">
            <input class="home-list-item home-list-input" type="text" value="{{list.title}}" ng-disabled="">
        </ion-item>
        <p ng-show="!lists.length" class="empty-list text-center">
            <i class="icon ion-sad-outline black empty-list-icon"></i>
            <br/>
            <br/>
            <span onclick="window.location.href='#/about'">Nothing Here</span>
        </p>
    </ion-content>
    <div class="bar bar-footer homepage-background">
        <div class="buttons buttons-right">
            <button class="button button-positive button-fab" ng-click="newList();">
                <i class="icon ion-plus white"></i>
            </button>
        </div>
    </div>
</ion-view>
